fastapi
uvicorn
python-multipart
pypdf
langchain
langchain-community
chromadb
sentence-transformers
langchain-text-splitters
langchain-chroma
langchain-openai
langchain-huggingface
redis
python-dotenv
